    <div class="col-6">
            <input type="text" class="form-control" value="{{this.first_name}}" id="floatingInput" placeholder="First Name" name="first_name"> 
    </div>
    <div class="col-6">
        <input type="text" class="form-control" value="{{this.last_name}}" id="floatingInput" placeholder="Last Name" name="last_name">
    </div>
    <div class="col-6">
        <input type="email" class="form-control" value="{{this.email}}" id="floatingInput" placeholder="@Email" name="email">
    </div>
    <div class="col-6">
        <input type="text" class="form-control" value="{{this.phone}}" id="floatingInput" placeholder="Phone" name="phone">
    </div>
    <div class="col-12">
        <textarea name="comment" placeholder="comment" class="form-control "cols="30" rows="5">{{this.comments}}</textarea>
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>